<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">ANGULAR CLIENTES ABM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link clientes-link" [routerLink]="['']">Clientes <i class="bi bi-person-lines-fill"></i>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['form/New']" 
            routerLinkActive="router-link-active" >Nuevo Cliente <i class="bi bi-person-plus-fill"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">
              Acerca de <i class="bi bi-person-vcard-fill"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>