@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto clientes CRUD MVC</h1>
    <p class="lead">Proyecto realizado en ASP.NET utilizando la arquitectura MVC junto con Entity Framework y Razor</p>
</div>

